@model wqwz.Models.User
 

<form>
    @Html.EditorFor(model => model.Name)
    @Html.EditorFor(model => model.Email) 
    @Html.EditorFor(model => model.Pwd)
    @Html.EditorFor(model => model.Sex)
    @Html.TextBoxFor(model=>model.Name)
    <button type="submit">sad</button>
</form>

@section Scripts {
    @Scripts.Render("~/Scripts/val")
    @Scripts.Render("~/Scripts/md")
}
