@model wqwz.Models.User
 
<form method="post">
    @Html.EditorFor(model => model.Name)
    @Html.EditorFor(model => model.Email)
    @Html.EditorFor(model => model.Pwd)
    @Html.EditorFor(model => model.Sex)
    @Html.EditorFor(model => model.Status)
    @Html.EditorFor(model => model.RealName)
    @Html.EditorFor(model => model.Elevel)
    @Html.EditorFor(model => model.OrganizationName)
    @Html.EditorFor(model => model.PhoneNumber)
    @Html.EditorFor(model => model.Public)
    @Html.EditorFor(model => model.Info)
    <button type="submit">提交</button>
</form>

@section Scripts {
    @Scripts.Render("~/Scripts/val")
    <script>
        $(document).ready(function () {
            $('[data-summernote]').summernote({
                height: 200,
                lang: 'zh-CN' // default: 'en-US'
            });
        });
    </script>
}
